/* inicializar los márgenes y rellenos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ==================
 DESIGN TOKEN VAULT ↓
 ==================== */
:root {
  /* COLOR PALETTE */
  --clr-white: hsl(0, 0%, 100%);
  --clr-slate300: hsl(212, 45%, 89%);
  --clr-slate500: hsl(216, 15%, 48%);
  --clr-slate900: hsl(218, 44%, 22%);
  --clr-attribution: hsl(228, 45%, 44%);
  --clr-shadow: rgba(0, 0, 0, 4.77%);

  /* TYPOGRAPHY */
  --ff-site: "Outfit", sans-serif;

  /* FONT SIZES */
  --fs-title: 1.375rem; /* 22px */
  --fs-description: 0.9375rem; /* 15px */
  --fs-attribution: 0.6875rem; /* 11px */

  /* FONT WEIGHTS */
  --fw-title: 700;
  --fw-description: 400;

  /* LINE HEIGHTS */
  --lh-title: 1.2;
  --lh-description: 1.4;

  /* PRIMITIVE SPACING */
  --sp-200: 1rem; /* 16px */
  --sp-300: 1.5rem; /* 24px */
  --sp-500: 2.5rem; /* 40px */

  /* SEMANTIC SPACING */
  --padding-qr-card: var(--sp-200) var(--sp-200) var(--sp-500) var(--sp-200); /* top, right: 16px, bottom: 40px, left: 16px */
  --padding-title: var(--sp-300); /* 24px */
  --padding-description: var(--sp-200) var(--sp-200) 0 var(--sp-200); /* top, right: 16px, bottom: 0px, left: 16px */
  --br-l: 1.25rem; /* 20px */
  --br-s: 0.625rem; /* 10px */
  --bs-qr-card: 0 25px 25px 0px var(--clr-shadow); /* 0px in the horizontal axis, 25px on the vertical, 25px of blur, 0px of spread and rgba black with 4.77% of opacity */
}

/* ==================
 DESIGN TOKEN VAULT ↑
 ==================== */

/* estilo de los créditos, trasladados del html */
.attribution {
  font-size: var(--fs-attribution);
  text-align: center;
  padding-bottom: var(--padding-qr-card);
  position: absolute; /* quita el orden gravitacional normal del texto
                         haciéndolo flotar en una capa separada*/
  bottom: 0; /* posiciona el texto en la parte inferior de la ventana */
}
.attribution a {
  color: var(--clr-attribution);
}

/* centrado del contenido con flexbox */
body {
  font-family: var(--ff-site);
  display: flex; /* activa el modelo de caja flexible */
  flex-direction: column; /* invierto la direccón de los ejes */
  align-items: center; /* eje transversal (centrado horizontal), toma el ancho del
                          monitor y reparte el espacio sobrante, dejando el 
                          article en el medio */
  justify-content: center; /* eje principal (centrado vertical), toma el 100% de
                              la altura de pantalla y reparte el espacio entre 
                              article y footer (attribution) */
  min-height: 100vh; /* altura mínima del 100% de la ventana gráfica */
  background-color: var(--clr-slate300);
}

/* estilo para el contenedor del QR code */
article {
  background-color: var(--clr-white);
  width: 320px; /* ancho dado por Figma */
  padding: var(--padding-qr-card); /* acolchado de 16px en todos los lados */
  border-radius: var(--br-l);
  box-shadow: var(
    --bs-qr-card
  ); /* 0px en the horizontal axis, 25px on the vertical, 25px of blur, 0px of spread and rgba black with 4.77% of opacity */
  /* 0px en the horizontal axis, 25px on the vertical, 25px of blur, 0px of spread and rgba black with 4.77% of opacity */
}

img {
  width: 100%; /* forzar al QR code a ocupar el ancho máximo disponible (del contenedor) */
  display: block; /* dejando que se muestre como un elemento de bloque,
                     elimina el espacio en blanco alrededor. La imagen 
                     respeta los padding del article */
  height: auto; /* previene deformación */
  border-radius: var(--br-s);
}

h1 {
  text-align: center;
  color: var(--clr-slate900);
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  font-weight: var(--fw-title);
  padding-top: var(--padding-title);
}

p {
  text-align: center;
  color: var(--clr-slate500);
  font-size: var(--fs-description);
  line-height: var(--lh-description);
  font-weight: var(--fw-description);
  padding: var(
    --padding-description
  ); /* crea un acolchado de 16px en los lados y 
                           24px en la parte inferior del article (sumando
                           los 16px del padding del article hacen los 40px
                           que se muestran en Figma) */
}
