/* =========
 BOX RESET ↓
============ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ==================
 DESIGN TOKEN VAULT ↓
 ==================== */
:root {
  /* COLOR PALETTE */
  --clr-white: rgba(255 255 255);
  --clr-slate300: rgba(214 226 240);
  --clr-slate500: rgba(104 119 141);
  --clr-slate900: rgba(31 44 61);
  --clr-attribution: rgba(62 84 163);
  --clr-shadow: rgba(0 0 0 / 4.77%);

  /* TYPOGRAPHY */
  --ff-site: "Outfit", sans-serif;

  /* FONT SIZES */
  --fs-title: 1.375rem; /* 22px */
  --fs-description: 0.9375rem; /* 15px */
  --fs-attribution: 0.6875rem; /* 11px */

  /* FONT WEIGHTS */
  --fw-title: 700;
  --fw-description: 400;

  /* LINE HEIGHTS */
  --lh-title: 1.2;
  --lh-description: 1.4;

  /* PRIMITIVE SPACING */
  --sp-200: 1rem; /* 16px */
  --sp-300: 1.5rem; /* 24px */
  --sp-500: 2.5rem; /* 40px */

  /* SEMANTIC SPACING */
  --width-qr-card: clamp(
    18rem,
    90vw,
    20rem
  ); /* 288px, 90% of the viewport width, 320px */
  --padding-qr-card: var(--sp-200) var(--sp-200) var(--sp-500) var(--sp-200); /* TRouBLe: 16px top/left/right, and 40px bottom */
  --padding-title: var(--sp-300); /* 24px */
  --padding-description: var(--sp-200) var(--sp-200) 0; /* Top 16px, left/right: 16px, bottom: 0px,  */
  --br-l: 1.25rem; /* 20px */
  --br-s: 0.625rem; /* 10px */
  --bs-qr-card: 0 25px 25px 0px var(--clr-shadow); /* 0px X-axis, 25px Y-axis, 25px blur, 0px spread, 4.77% alpha opacity black */
}

/* ==================
 DESIGN TOKEN VAULT ↑
 ==================== */

/* ============
QR CODE RULES ↓
================ */

/* CREDITS, I BRING THEM TO ITS PLACE */
.attribution {
  font-size: var(--fs-attribution);
  text-align: center;
  padding-bottom: var(--padding-qr-card);
}
.attribution a {
  color: var(--clr-attribution);
}

/* FLEXBOX CENTERING + INHERITABLE FONT */
body {
  background-color: var(--clr-slate300);
  min-height: 100vh; /* Force body to take at least 100% of the viewport height */
  font-family: var(--ff-site);
  display: flex; /* Activate Flexbox context*/
  flex-direction: column; /* Main axis is now vertical, cross axis is horizontal*/
  align-items: center; /* CROSS AXIS (Horizontal): Takes the viewport width and centers the content horizontally */
  justify-content: center; /* MAIN AXIS (Vertical): Distributes the remaining vertical space between the article and footer */
}

/* QR CODE CARD */
.qr-code {
  background-color: var(--clr-white);
  width: var(--width-qr-card);
  padding: var(
    --padding-qr-card
  ); /* Inner spacing: 16px top/left/right, and 40px bottom */
  border-radius: var(--br-l);
  box-shadow: var(
    --bs-qr-card
  ); /* Horizontal axis 0px, vertical 25px, blur 25px, spread 0px, and rgba black with 4.77% opacity */
}

/* QR CODE IMAGE */
.qr-code__img {
  width: 100%; /* Spans the full available width, preventing container overflow */
  height: auto; /* Maintains the original aspect ratio to prevent image distortion */
  display: block; /* Eliminates the default inline baseline whitespace. The image perfectly respects the article's padding */
  border-radius: var(--br-s);
}

.qr-code__title {
  text-align: center;
  color: var(--clr-slate900);
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  font-weight: var(--fw-title);
  padding-top: var(--padding-title);
}

.qr-code__description {
  text-align: center;
  color: var(--clr-slate500);
  font-size: var(--fs-description);
  line-height: var(--lh-description);
  font-weight: var(--fw-description);
  padding: var(
    --padding-description
  ); /* Applied as: top 16px, left/right 16px, bottom 0px */
}
/* ============
QR CODE RULES ↑
================ */
